{
  "useTabs": false,
  "printWidth": 80,
  "tabWidth": 2,
  "semi":false,
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "auto"
}
